APP_NAME=VIGO FEAST Backend
APP_ENV=development
APP_VERSION=1.0.0

DATABASE_URL=postgresql+psycopg2://USERNAME:PASSWORD@HOST:5432/DATABASE

DB_SCHEMA=public
DB_TABLE_PREFIX=vgf_

DEFAULT_PAGE_SIZE=20
MAX_PAGE_SIZE=100